# ============================
# 🔐 Kubernetes Secrets (절대 깃허브에 올리지 않기)
# ============================
k8s-secrets.yaml

# ============================
# ⚙️ 환경 변수 파일
# ============================
.env

# ============================
# 🧱 Python 캐시 & 로그
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ============================
# 🧰 IDE / OS 파일
# ============================
.vscode/
.idea/
.DS_Store
Thumbs.db
